.luxro-card {
  width: 120%;
  height: 400px;
  background: #0b1220;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
}

.luxro-card::before {
  content: '';
  position: absolute;
  width: 140px;
  height: 160%;
  background-image: linear-gradient(180deg, #00eeff, /* lime */ #ff09d6 /* green */);
  animation: rotBGimg 6s linear infinite;
}

.luxro-card::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: #89d30a;
  border-radius: 17px;
}

.luxro-card-content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 24px;
  color: black;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  --border: 4px;
  --rounded: 16px;
  --quantity: 12;
  --w-card: 450px;
  --h-card: 400px;
  margin: 0;
  width: var(--w-card);
  height: var(--h-card);
  max-width: 110%;
  max-height: 110%;
  border-radius: var(--rounded);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: var(--border);
}
.card::before,
.card::after {
  content: '';
  z-index: -1;
  position: absolute;
  will-change: auto;
  --size: calc(100%);
  --size-old: calc(100% - calc(var(--border) * 2));
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  border-radius: var(--rounded);
  background-size: 400% 400%;
  animation: bg-spin 3s linear 0s infinite normal none running;
  background-image: radial-gradient(circle farthest-side at 0 100%, #00ccb1, transparent),
    radial-gradient(circle farthest-side at 100% 0, #5ddcff, transparent),
    radial-gradient(circle farthest-side at 100% 100%, #3c67e3, transparent),
    radial-gradient(circle farthest-side at 0 0, #4e00c2, #0000);
}

.card::after {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  animation-delay: 0.5s;
  filter: blur(24px);
  opacity: 0.7;
}

@keyframes bg-spin {
  25% {
    background-position: right 20% bottom 40%;
  }
  75% {
    background-position: left 45% top 20%;
  }
}

.points_wrapper {
  position: absolute;
  overflow: hidden;
  width: calc(100% - (var(--border) * 4));
  height: calc(100% - (var(--border) * 4));
  border-radius: calc(var(--rounded) - 4px);
  pointer-events: none;
  z-index: 80;
}

.points_wrapper .point {
  --sz-point: 4px;
  top: -8px;
  position: absolute;
  animation: floating-points infinite ease-in-out;
  pointer-events: none;
  width: var(--sz-point);
  height: var(--sz-point);
  background-color: #5ddcff;
  border-radius: 9999px;
}

@keyframes floating-points {
  0% {
    transform: translate(0, 0);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(calc(var(--h-card) / 1.75), calc(var(--h-card) / 1.5));
  }
}

.points_wrapper .point:nth-child(1) {
  left: 10%;
  opacity: 1;
  animation-duration: 2.35s;
  animation-delay: 0.2s;
}
.points_wrapper .point:nth-child(2) {
  left: 30%;
  opacity: 0.7;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
}

.points_wrapper .point:nth-child(3) {
  left: 25%;
  opacity: 0.8;
  animation-duration: 2.2s;
  animation-delay: 0.1s;
}

.points_wrapper .point:nth-child(4) {
  left: 44%;
  opacity: 0.6;
  animation-duration: 2.05s;
}

.points_wrapper .point:nth-child(5) {
  left: 50%;
  opacity: 1;
  animation-duration: 1.9s;
}

.points_wrapper .point:nth-child(6) {
  left: 75%;
  opacity: 0.5;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}

.points_wrapper .point:nth-child(7) {
  left: 88%;
  opacity: 0.9;
  animation-duration: 2.2s;
  animation-delay: 0.2s;
}

.points_wrapper .point:nth-child(8) {
  left: 58%;
  opacity: 0.8;
  animation-duration: 2.25s;
  animation-delay: 0.2s;
}

.points_wrapper .point:nth-child(9) {
  left: 98%;
  opacity: 0.6;
  animation-duration: 2.6s;
  animation-delay: 0.1s;
}

.points_wrapper .point:nth-child(10) {
  left: 65%;
  opacity: 1;
  animation-duration: 2.5s;
  animation-delay: 0.2s;
}

.content {
  position: absolute;
  width: calc(100% - (var(--border) * 4));
  height: calc(100% - (var(--border) * 4));
  border-radius: calc(var(--rounded) - 4px);
  overflow: hidden;
  z-index: 7;
  background-color: #191c29;
}

/* button */

.btn {
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background-color: #212121;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}

.btn::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(#488cfb, #29dbbc, #ddf505, #ff9f0e, #e440bb, #655adc, #488cfb);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  mask-clip: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

.btn:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

.btn,
.btn::after {
  box-sizing: border-box;
}

.btn:active {
  --border-width: 5px;
}

/* testimonials  */
.testimonials-section {
  padding: 80px 20px;
  background: #111;
  text-align: center;
}

.testimonials-title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 8px;
}

.testimonials-subtitle {
  color: #aaa;
  max-width: 600px;
  margin: 0 auto 50px;
}

.testimonials-grid {
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonial-card {
  position: relative;
  width: 490px;
  height: 274px;
  background-color: #000;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  padding: 28px;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  z-index: 1;
}

.testimonial-card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -2;
  transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.testimonial-card::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: scale(0.95);
  filter: blur(20px);
  z-index: -3;
}

.testimonial-card:hover::after {
  filter: blur(30px);
}

.testimonial-card:hover::before {
  transform: rotate(-360deg) scaleX(1.34) scaleY(0.77);
}

/* ===== CARD CONTENT ===== */
.testimonial-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.testimonial-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-size: 18px;
  font-weight: bolder;
  color: #111827;
}

.user-location {
  font-size: 12px;
  color: #0c0c0c;
  font-weight: bolder;
}

.stars {
  color: #facc15; 
  font-size: 16px;
  white-space: nowrap;
}

.review-text {
  font-size: 1.2rem;
  color: #d1d1d1;
  line-height: 1.4;
}

#SocailIcons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icons {
  width: 70px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.iconName {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  font-size: 12px;
  color: #fff;
  padding: 4px 6px;
  border-radius: 4px;
  transition: transform 0.25s ease;
  white-space: nowrap;
}

.icons:hover .iconName {
  transform: translateX(-50%) scale(1);
}

.icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.icon svg {
  position: relative;
  z-index: 2;
}

.icon::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  height: 0;
  bottom: 0;
  transition: height 0.3s ease;
  z-index: 1;
}

.icon:hover::before {
  height: 100%;
}

.icon:hover {
  color: #fff;
}
.icon {
  color: #000;
}

/* BRAND COLORS */

.icon.insta::before {
  background: linear-gradient(40deg, #833ab4, #fd1d1d, #fcb045);
}

.icons.instaIcon:hover .iconName {
  background: linear-gradient(40deg, #833ab4, #fd1d1d);
}

.icon.link::before {
  background: #1da1f2;
}

.icons.linkedin:hover .iconName {
  background: #1da1f2;
}

.icon.whats::before {
  background: #0274b3;
}
.icons.whatsapp:hover .iconName {
  background: #0274b3;
}

.icon.tube::before {
  background: #1877f2;
}

.icons.youtube:hover .iconName {
  background: #1877f2;
}

.help-center section.grid {
  grid-template-columns: repeat(4, 1fr);
}

/* ================= RESPONSIVE DESIGN ================= */
@media (max-width: 1200px) {
  .help-center section.grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .help-center {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .help-center p {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .help-center section.grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .help-center h1 {
    font-size: 2.2rem;
  }

  .help-center p {
    font-size: 1.2rem;
  }

  footer .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .help-center section.grid {
    grid-template-columns: 1fr;
  }

  .help-center h1 {
    font-size: 1.9rem;
  }

  .help-center p {
    font-size: 1.05rem;
  }

  .help-center section {
    margin-bottom: 3rem;
  }

  .help-center button {
    width: 100%;
  }

  footer .grid {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  footer .flex {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .card {
    height: auto;
  }

  .help-center h1 {
    font-size: 1.7rem;
  }

  .help-center h2 {
    font-size: 1.3rem;
  }

  .help-center p {
    font-size: 1rem;
  }

  .help-center button {
    padding: 0.9rem;
  }

  footer .grid {
    grid-template-columns: 1fr;
  }
}
