@if (isLoading()) {

<div class="flex justify-center items-center min-h-[50vh]">
  <app-load-spinner></app-load-spinner>
</div>
}

@else {
@if (alertType) {
<div class="toast-container">
  <app-alert-message [type]="alertType"
                     [message]="alertMessage"
                     (close)="alertType = null; alertMessage = ''">
  </app-alert-message>
</div>
}
<!-- ===== IF A CAR EXISTS IN CHECKOUT ====== -->
@if (selectedCar()) {

<!-- ==== IF NOT INSIDE CHILD ROUTE ====== -->
@if (!isChildRouteActive()) {

<div class="bg-lime-300 py-8">

  <app-progress-indicator [currentStep]="1"></app-progress-indicator>

  <div class="container mx-auto px-4 py-8 space-y-8">

    <div class="text-center space-y-2">
      <h1 class="text-4xl font-bold text-gray-900">
        Checkout
      </h1>
      <p class="text-gray-700 text-xl">
        Complete your booking below
      </p>
    </div>

    <!-- Trip Details Form -->
    <app-edit-trip [tripDetails]="tripDetails()"
                   (tripUpdated)="onTripUpdated($event)">
    </app-edit-trip>


  </div>
</div>

<div class="bg-black text-white py-10">

  <div class="container mx-auto px-4 space-y-8">

    <div class="flex justify-center">
      <button type="button"
              class="delete-button"
              (click)="onDelete(selectedCar())"
              aria-label="Remove car from checkout">
        <svg viewBox="0 0 448 512"
             class="svgIcon">
          <path
                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
          </path>
        </svg>
      </button>
    </div>

    <div class="flex flex-col lg:flex-row gap-8">

      <!-- Car Card -->
      <div class="flex-1 space-y-8 ">
        <app-car-card [car]="selectedCar()?.car"></app-car-card>
      </div>

      <!-- Price Summary -->
      <div class="w-full lg:w-1/3 space-y-6">
        <app-price-summary></app-price-summary>
      </div>
    </div>

    <!-- FAQ Section -->
    <div>
      <h3 class="font-bold text-lg my-4">
        Frequently Asked Questions
      </h3>

      @for (item of faqs; track $index) {
      <details class="mb-3 p-3 border border-gray-700 rounded-lg">
        <summary class="font-bold cursor-pointer  text-orange-300">
          {{ item.question }}
        </summary>
        <p class="text-gray-300 mt-4 leading-loose">
          {{ item.answer }}
        </p>
      </details>
      }

    </div>

  </div>
</div>

}

<!-- ==== CHILD ROUTES (user-form, success) ==== -->
@else {
<router-outlet></router-outlet>
}

}

@else {
<div class="min-h-[60vh] flex items-center justify-center">
  <p class="text-xl text-gray-500">
    No car selected for checkout.
  </p>
</div>
}

}