<div class="help-center bg-lime-300 text-black w-full px-4 py-16"
     @contentFadeInOut>
  <section class="mb-20 text-center border-b border-gray-800">
    <h1 class="text-4xl font-bold mb-3">
      Luxro Help Center
    </h1>
    <p class="text-gray-600 text-2xl font-semibold text-center mb-6">
      Get quick answers to common questions about bookings, payments, vehicle support,
      hosting, and careers. If you need help, we’re here to guide you.
    </p>
  </section>

  <!-- ================= CATEGORY FAQ VIEW ================= -->
  @if (selectedCategory) {
  <button type="button"
          (click)="goBack()"
          class="bg-white text-center w-64 rounded-2xl h-14 relative text-black text-xl font-semibold group cursor-pointer mb-7">
    <div
         class="bg-green-400 rounded-xl h-12 w-1/4 flex items-center justify-center absolute left-1 top-1 group-hover:w-62 z-10 duration-500">
      <svg xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 1024 1024"
           height="25"
           width="25">
        <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
              fill="#000000" />
        <path d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
              fill="#000000" />
      </svg>
    </div>

    <p class="translate-x-6">Back to Help</p>
  </button>

  <h2 class="text-2xl font-bold mb-6 underline underline-offset-8 decoration-2">
    {{ selectedCategory.title }}
  </h2>

  <div class="space-y-4 max-w-9xl">

    @for (faq of selectedCategory.faqs; track $index) {
    <div class="border rounded-xl border-white bg-black text-orange-300">
      <button class="w-full flex justify-between items-center p-5 text-left"
              (click)="toggleFaq($index)">
        <span class="font-bold">
          {{ faq.question }}
        </span>

        <span class="text-xl">
          {{ openFaqIndex === $index ? '▲' : '▼' }}
        </span>
      </button>

      @if (openFaqIndex === $index) {
      <div class="px-5 pb-5 text-white leading-loose">
        {{ faq.answer }}
      </div>
      }
    </div>
    }

  </div>
  }

  <!-- ================= CATEGORY CARDS ================= -->
  @else {
  <section>
    <h2 class="text-2xl font-bold mb-8 underline underline-offset-8 decoration-2">
      Browse Help Topics
    </h2>

    <section class="grid gap-6 px-4 lg:px-14">
      @for (category of categories; track category.id) {

      <div class="card cursor-pointer"
           (click)="selectCategory(category)">
        <div class="card-info">
          <div class="text-center px-3">
            <p class="title text-orange-500 mb-5 text-lg font-bold">
              {{ category.title }}
            </p>

            <p class="text-sm text-gray-300 leading-relaxed">
              {{ category.description }}
            </p>
          </div>
        </div>
      </div>

      }
    </section>

  </section>
  }

  <!-- ================= POPULAR FAQS ================= -->
  @if (!selectedCategory) {
  <section class="mb-20 mt-9">
    <h2 class="text-2xl font-bold mb-6 underline underline-offset-8 decoration-2">
      Most Asked Questions
    </h2>

    <div class="space-y-4 max-w-7xl px-4 lg:px-14">
      @for (faq of popularFaqs; track $index) {
      <div class="border rounded-xl border-white bg-black text-orange-300">
        <button class="w-full flex justify-between items-center p-5 text-left"
                (click)="togglePopularFaq($index)">
          <span class="font-medium">
            {{ faq.question }}
          </span>
          <span class="text-xl">
            {{ openPopularFaqIndex === $index ? '▲' : '▼' }}
          </span>
        </button>

        @if (openPopularFaqIndex === $index) {
        <div class="px-5 pb-5 text-white leading-loose">
          {{ faq.answer }}
        </div>
        }
      </div>
      }
    </div>
  </section>
  }

</div>

<!-- ================= FOOTER ================= -->
<footer class="bg-black text-white border-t py-16">
  <div class="max-w-7xl mx-auto px-6 grid md:grid-cols-5 gap-10 text-sm">

    <div>
      <div class="flex items-center gap-3 mb-4">
        <img src="../../assets/logo-icon.png"
             alt="Luxro logo"
             class="w-10 h-10 rounded-md object-contain cursor-pointer hover:scale-105 transition" />
        <h3 class="text-white text-3xl font-bold tracking-wide cursor-pointer hover:scale-105 transition">
          Luxro
        </h3>
      </div>

      <p class="text-sm leading-relaxed mb-6 max-w-xs font-semibold">Email: hello@luxro.app</p>
      <p class="text-sm leading-relaxed mb-6 max-w-xs font-semibold">Phone: +91 90000 00000</p>
    </div>

    <div>
      <h4 class="text-orange-400 font-bold mb-4 text-1xl underline underline-offset-8 decoration-2">Company</h4>
      <ul class="space-y-3 text-sm">
        <li><a routerLink="/about"
             class="hover:text-pink-500 font-semibold cursor-pointer">About Us</a></li>
        <li><a routerLink="/careers"
             class="hover:text-pink-500 font-semibold cursor-pointer">Careers</a></li>
        <li><a routerLink="/discover"
             class="hover:text-pink-500 font-semibold cursor-pointer">Home</a></li>
        <li><a routerLink="/partner"
             class="hover:text-pink-500 font-semibold cursor-pointer">Become a Host</a></li>
      </ul>
    </div>

    <div>
      <h4 class="text-orange-400 font-bold mb-4 text-1xl underline underline-offset-8 decoration-2">Features</h4>
      <ul class="space-y-3 text-sm">
        <li><a routerLink="/insights"
             class="hover:text-pink-500 font-semibold cursor-pointer">Blogs</a></li>
        <li><a routerLink="/contact"
             class="hover:text-pink-500 font-semibold cursor-pointer">FAQs</a></li>
        <li><a routerLink="/about"
             class="hover:text-pink-500 font-semibold cursor-pointer">Terms of Service</a></li>
        <li><a routerLink="/about"
             class="hover:text-pink-500 font-semibold cursor-pointer">Privacy Policy</a></li>
      </ul>
    </div>

    <div>
      <h3 class="text-orange-400 font-bold mb-4 text-1xl underline underline-offset-8 decoration-2">Install App</h3>
      <ul class="space-y-3 text-sm">
        <li><a class="hover:text-pink-500 font-semibold cursor-pointer">Google Play</a></li>
        <li><a class="hover:text-pink-500 font-semibold cursor-pointer">App Store</a></li>
      </ul>

    </div>

    <div>
      <h3 class="text-orange-400 font-bold mb-4 text-1xl underline underline-offset-8 decoration-2">Follow Us</h3>
      <div id="SocailIcons"
           class="footer-socials">

        <div class="icons instaIcon">
          <p class="iconName">Instagram</p>
          <div class="icon insta">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 width="35"
                 fill="currentColor">
              <path
                    d="M7 2h10a5 5 0 0 1 5 5v10a5 5 0 0 1-5 5H7a5 5 0 0 1-5-5V7a5 5 0 0 1 5-5zm10 2H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zm-5 3a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 2a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm4.75-2.5a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>

          </div>
        </div>

        <div class="icons linkedin">
          <p class="iconName">Twitter</p>
          <div class="icon link">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 width="35"
                 fill="currentColor">
              <path
                    d="M22.46 6c-.77.35-1.6.58-2.46.69a4.3 4.3 0 0 0 1.88-2.38 8.6 8.6 0 0 1-2.72 1.04 4.28 4.28 0 0 0-7.3 3.9A12.15 12.15 0 0 1 3.15 4.8a4.28 4.28 0 0 0 1.32 5.7 4.24 4.24 0 0 1-1.94-.54v.05a4.28 4.28 0 0 0 3.44 4.19 4.3 4.3 0 0 1-1.93.07 4.28 4.28 0 0 0 4 2.98A8.6 8.6 0 0 1 2 19.54 12.14 12.14 0 0 0 8.29 21c7.55 0 11.68-6.26 11.68-11.68 0-.18 0-.36-.01-.54A8.36 8.36 0 0 0 22.46 6z" />
            </svg>

          </div>
        </div>

        <div class="icons whatsapp">
          <p class="iconName">LinkedIn</p>
          <div class="icon whats">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 width="35"
                 fill="currentColor">
              <path
                    d="M4.98 3.5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zM3 8.98h3.96V21H3V8.98zm7.53 0h3.8v1.64h.05c.53-1 1.82-2.05 3.74-2.05 4 0 4.74 2.63 4.74 6.05V21h-3.96v-5.44c0-1.3-.03-2.97-1.81-2.97-1.81 0-2.09 1.41-2.09 2.87V21h-3.96V8.98z" />
            </svg>

          </div>
        </div>

        <div class="icons youtube">
          <p class="iconName">Facebpok</p>
          <div class="icon tube">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 24 24"
                 width="35"
                 fill="currentColor">
              <path
                    d="M22 12a10 10 0 1 0-11.5 9.95v-7.04H8v-2.91h2.5V9.8c0-2.47 1.47-3.84 3.72-3.84 1.08 0 2.2.2 2.2.2v2.42h-1.24c-1.22 0-1.6.76-1.6 1.54v1.85H16.5l-.5 2.91h-2.42v7.04A10 10 0 0 0 22 12z" />
            </svg>

          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="border-t border-white text-center text-xs py-4 text-orange-400 font-semibold mt-4">
    © 2025 Luxro Mobility Pvt Ltd. All rights reserved.
  </div>

</footer>