.date-input {
  background-color: #000000;
  color: rgb(193, 163, 98);
  border: 2px solid rgb(193, 163, 98);
  font-size: 14px;
  border-radius: 0.5rem;
}

.date-input::placeholder {
  color: rgba(193, 163, 98, 0.6);
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.8;
  cursor: pointer;
}

.date-input::-webkit-datetime-edit {
  color: rgb(193, 163, 98);
}

.date-input:focus {
  outline: none;
  border-color: rgb(193, 163, 98);
  box-shadow: 0 0 0 2px rgba(193, 163, 98, 0.35);
}

.button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.button-borders::before,
.button-borders::after {
  content: '';
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  border: 1px solid rgb(193, 163, 98);
  z-index: 0;
}

.button-borders::before {
  top: -0.3em;
  border-bottom: 0;
}

.button-borders::after {
  bottom: -0.3em;
  border-top: 0;
}

.primary-button {
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;

  color: rgb(193, 163, 98) !important;
  padding: 0.8rem 2.1rem;

  border: 1px solid rgb(193, 163, 98);
  background-color: #0e1822;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cpolygon fill='rgb(193,163,98)' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/svg%3E");
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;

  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;

  position: relative;
  z-index: 1;
}

.primary-button:hover:not(:disabled) {
  background-position: 40%;
  border-color: rgb(193, 163, 98);
  color: black;
}

.primary-button::before,
.primary-button::after {
  content: '';
  position: absolute;
  transition: background-color 0.15s ease-in-out;
}

.primary-button::before {
  background-color: #0e1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
}

.primary-button::after {
  background-color: rgb(193, 163, 98);
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
}

.primary-button:hover::before,
.primary-button:hover::after {
  background-color: black;
}

.submit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-position: 200%;
  color: black;
  border-color: rgba(193, 163, 98, 0.4);
}

.clear-btn {
  background-color: transparent;
  color: rgb(193, 163, 98);
}

.clear-btn:hover {
  color: black !important;
}
