.btn {
  width: 100%;
  height: 2.6em;
  margin: 0.2em 0;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn:hover {
  color: black;
}

.btn::after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}
