.searchBox {
  display: flex;
  width: 1400px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
}

.searchInput {
  flex: 1;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;

  padding: 24px 90px 24px 26px;
  position: relative;
  z-index: 1;
}

.searchButton {
  position: absolute;
  right: 8px;

  width: 60px;
  height: 60px;
  padding: 15px;

  border-radius: 50%;
  border: 0;
  cursor: pointer;

  background: var(--gradient-2, linear-gradient(90deg, #2af598 0%, #009efd 100%));
  color: white;

  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 2;
}

.searchButton:hover {
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

.searchButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchBox:focus-within {
  border: 2px solid rgb(193, 163, 98);
  box-shadow: 0 0 0 2px rgba(193, 163, 98, 0.35);
}

/*====== RESPONSIVE DESIGN ======*/
@media (max-width: 1024px) {
  .car-list-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 999px) {
  .car-list-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
